$light-color: #f4f4f4;
$primary-color: #e0ffff;
$secondary-color: turquoise;
$font-family: monospace;

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return white;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
