.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  margin: 1rem;
}

.px-1 {
  margin: 0 1rem;
}

.py-1 {
  margin: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  margin: 2rem;
}

.px-2 {
  margin: 0 2rem;
}

.py-2 {
  margin: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  margin: 3rem;
}

.px-3 {
  margin: 0 3rem;
}

.py-3 {
  margin: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin: 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  margin: 4rem;
}

.px-4 {
  margin: 0 4rem;
}

.py-4 {
  margin: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  margin: 5rem;
}

.px-5 {
  margin: 0 5rem;
}

.py-5 {
  margin: 5rem 0;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: white;
  color: #333;
}

.btn-secondary {
  background-color: turquoise;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #f4f4f4;
  font-family: monospace;
  font-weight: bold;
  line-height: 1.6;
}

.showcase {
  background-color: #e0ffff;
  color: #333;
  height: 100vh;
}
.showcase nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase nav ul {
  display: flex;
  list-style-type: none;
}
.showcase nav li {
  padding: 15px;
}
.showcase nav a {
  color: #333;
}
.showcase a:hover {
  color: turquoise;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase-content img {
  width: 50%;
  border-radius: 8px;
}
.showcase-content h1 {
  font-size: 50px;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .showcase-content {
    text-align: center;
  }
  .showcase-content img {
    display: none;
  }
}